<ul>
  <li><a mat-list-item role="listitem" routerLink="/admin">Dashboard</a></li>
  <li><a mat-list-item role="listitem" routerLink="customers">Custormer</a></li>
  <li><a mat-list-item role="listitem" routerLink="products">Products</a></li>
  <li><a mat-list-item role="listitem" routerLink="orders">orders</a></li>
  <li><a mat-list-item role="listitem" routerLink="">Siteyi Gör!</a></li>
</ul>

<!-- <mat-list role="list">
  <mat-list-item role="listitem">Item 1</mat-list-item>
  <mat-list-item role="listitem">Item 2</mat-list-item>
  <mat-list-item role="listitem">Item 3</mat-list-item>
</mat-list> -->
